.bg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
  }
}

@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    scale: 1;
  }
  50% {
    transform: translateY(0);
    scale: 1.3;
  }
  100% {
    transform: translateY(100vh);
    scale: 1;
  }
}

@keyframes float-one {
  0% {
    transform: translate(50vh, 100vh);
    scale: 1;
  }
  50% {
    transform: translateY(0);
    scale: 1.3;
  }
  100% {
    transform: translate(50vh, 100vh);
    scale: 1;
  }
}

@keyframes float-three {
  0% {
    transform: translate(50vh, 100vh);
    scale: 1;
  }
  50% {
    transform: translateY(0);
    scale: 1.3;
  }
  100% {
    transform: translate(50vh, 100vh);
    scale: 1;
  }
}

@media screen and (max-width: 767px) {
  .shape-blob.one {
    scale: 0.4;
  }

  .shape-blob.two {
    scale: 0.7;
  }
  .shape-blob.two {
    left: 20%;
    top: 0%;
  }
}
